{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "mozorg/home/home-en-US.html" %}

{% block body_class %}home-variant home-en-US home-en-US-b{% endblock %}

{% block intro_title %}
  {{ _('We are the proudly non-profit champions of a healthy and open Internet for all.') }}
{% endblock %}

{% block intro_copy %}{% endblock %}

{% block people_title %}
  {{ _('Protecting the health of the Internet') }}
{% endblock %}

{% block people_copy %}
  {{ _('We are a network of educators, builders and advocates who believe the Internet is a global public resource.') }}
  {{ _('Together, our initiatives are at the forefront of ensuring it remains that way.') }}
{% endblock %}

{% block innovation_title %}
  {{ _('Building the open web of tomorrow') }}
{% endblock %}
